@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Preloader Styling */

.loader {
    overflow: hidden;
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }to {
        transform: rotate(360deg);
    }
}

#overlay {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #111;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

/* Header and Nav Styling */
.head {
    width: 100%;
    background: #222;
    display: flex;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: top 0.3s ease;
}

.logo {
    font-size: 2.8rem;
    color: #fff;
    padding: 1.9rem 2.9rem;
    font-weight: 500;

}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

li a {
    text-decoration: none;
    font-size: 2.2rem;
    color: #fff;
    padding: 1.9rem 2.1rem;
    transition: all .2s ease;
}

a:hover {
    background: rgb(5, 143, 136);
    font-size: 2.29rem;
}

/* Snackbar Styling */
#snackbar {
    visibility: hidden;
    min-width: 500px;
    background-color: #111;
    margin-left: -125px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    font-size: 2rem;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  

@keyframes fadein {
    from{bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout { 
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


/* Section 1 Styling */
#sec-1 {
    background: url(img/Image544.jpg) no-repeat center center/cover;
    height: 900px;
}


/* Section 2 Styling */
#sec-2 {
    background: rgb(8,8,8);
    padding: 5rem 0 15rem 0;
    list-style: none;
}

.skills {
    width: 70%;
    margin: auto;
    color: #fff;
}

.skills h2 {
    font-size: 5rem;
    margin-bottom: 5rem; 
    padding-bottom: 2.5rem;
    text-align: center;
}

.skills h2::after {
    content: ""; 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 24%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 4px solid #2187e7b3;
}

.skills h3 {
    font-size: 2.2rem;
    padding-bottom: 1.1rem;
}

.skills li {
    margin: 3.2rem 0;
}

.bar {
    background: #353b48;
    display: block;
    height: 9px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
    height: 9px;
    float: left;
    background: #2187e7;
}

.html {
    width: 90%;
    animation: html 4s;
}

.css {
    width: 65%;
    animation: css 4s;
}

.javascript {
    width: 50%;
    animation: javascript 4s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}


/* FlipBox */
.sec-3{
    padding: 4.9rem 2rem;
}

.sec-3 h2 {
    font-size: 5rem;
    margin-bottom: 5rem; 
    padding-bottom: 2.5rem;
    text-align: center;
}

.sec-3 h2::after {
    content: ""; 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 24%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid rgb(4, 49, 45);
}

.sec-3 h3 {
    font-size: 3.6rem;
    color: #fff;
}

.sec-3 .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
}

.sec-3 .column {
    width: 100%;
}

.flip-box {
    background-color: transparent;
    width: 100%;
    height: 600px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: rgb(4, 49, 45);
    color: rgb(255, 255, 255);
}
  
.flip-box-back {
    background-color: rgb(2, 102, 105);
    color: #fff ;
    transform: rotateY(180deg);
}


/* Sec-4 */
#sec-4 {
    background:rgb(8,8,8);
    padding: 5rem 0 2rem 0;
}

#sec-4 h2 {
    font-size: 5rem;
    color: #fff;
    text-align: center;
}

#sec-4 .con {
    width: 1080px;
    height: 500px;
    margin: 5% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.con h3 {
    text-align: center;
    margin-bottom: 40px;
    color: #111;
    font-size: 2rem;
}

.con form {
    width: 840px;
    position: absolute;
    top: 100px;
    left: 120px;
    transition : 0.5s;
}


form input {
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    border: 0;
    border-bottom: 3px solid #999;
    outline: none;
    background: transparent;
}

::placeholder {
    color: #555;
    font-size: 1.1rem;
}

.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

form button {
    width: 220px;
    height: 70px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    font-size: 1.5rem;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#form-2, #form-3 {
    left: 1080px;
}

.step-row{
    width: 1080px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 10px -1px #000;
    position: relative;
}

.step-col {
    width: 360px;
    text-align: center;
    color: #222;
    position: relative;
    font-size: 1.5rem;
}

#progress{
    position: absolute;
    height: 100%;
    width: 360px;
    background: linear-gradient(to right, #ff105f, #ffad06);
}

/* Accordian Section */
#sec-5 .column{
    width: 80%;
    margin: 5% auto;
    padding-bottom: 4.5rem;
}

#sec-5 h2 {
    padding-top: 6rem;
    font-size: 5rem;
    color: #111;
    text-align: center;
}


.accordion {
    background-color: rgb(31, 29, 29);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 24px;
    font-size: 1.8rem;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 2px solid rgb(114, 114, 114);
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 1.5rem;
    color: #777;
    float: right;
    outline: none;
    margin-left: 5px;
}
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.active, .accordion:hover {
    background-color:  rgba(8, 8, 8);
}

.panel {
    padding: 2rem 1.2rem;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 1.5rem;
    transition: max-height 0.2s ease-out;
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem 0;
    font-size: 2.1rem;
    color: #fff;
    width: 100%;
    background: #111;
    margin-bottom: 0;
    word-spacing: .3rem;
    letter-spacing: .3rem;
}


/* Container */
.container {
    width: 100%;
}


  
